* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
}

body {
    background-color: #FBAB7E;
    background-image: linear-gradient(63deg, #FBAB7E 0%, #F7CE68 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    color: whitesmoke;
}

h1 {
    letter-spacing: 1px;
    font-size: 2.7rem;
    padding-left: 1rem;
    margin: 0 1rem;
    color: #b3490e;
    background: -webkit-linear-gradient(80deg, #b5531f 0%, #272111 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}

.cartoon {
    max-width: 22rem;
}

.dictionary-box {
    /* border: 1px solid #101010; */
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 10px;
    max-width: 30rem;
    margin: 1rem;
    border-radius: 30px;
    background: #b3490e;
    box-shadow: 20px 20px 60px #e3966a,
        -20px -20px 60px #ffc591;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: inherit;
    margin-bottom: 1rem;
}

#search {
    align-items: flex-end;
    display: inline-block;
    width: 80%;
    outline: transparent;
    border: none;
    border-bottom: 1px solid #101010;
    background: inherit;
    padding: 0.3rem 0.3rem;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 1px;

}

input::placeholder {
    color: #101010;
}

.btn {
    padding: 7px 20px;
    font-size: 1.1rem;
    margin-left: 0.5rem;
    border-radius: 6px;
    border: none;
    position: relative;
    transition: all 2s ease-out;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    display: inline-block;
}

.btn::before {
    content: "";
    position: absolute;
    border-radius: 6px;
    font-size: 1rem;
    background-color: rgb(235, 180, 61);
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
}

.btn::after {
    content: "";
    position: absolute;
    border-radius: 6px;
    font-size: 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    isolation: isolate;
    background-color: rgb(244, 221, 172);
    z-index: -2;
}

.btn:hover::before,
.btn:focus::before {
    width: 100%;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.9rem;
}

span {
    color: #101010;
}

.part-of-speech {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.2rem;
    font-size: 1.07rem;
}

.sound {
    max-width: 1.3rem;
    cursor: pointer;
}

.defination {
    margin-top: 2rem;
    font-size: 1.2rem;
    word-spacing: 2px;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.example {
    border-left: 2px solid black;
    font-size: 1.1rem;
    padding: 0.5rem 0.4rem;
    background-color: rgb(220, 156, 18);
    letter-spacing: 1px;
}

@media (width < 666px) {
    .cartoon {
        display: none;
    }
}